.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin: 5px 0;
    color: black;
    width: 100%;

}
  
.finished {
    background-color: #d3ffd3;
}

.list-item span{
  padding: 10px;
  width: 50%;
  display: flex;
  align-items: center;
}

.list-item span button{
  margin: 0px auto;
}

.list-item span p{
  width: 100%;
  word-wrap: break-word;
}