.card {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
}
  
input {
    max-width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    height: 30px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    height: 50px;
}

.card ul{
    display: flex;
    justify-content: center;
}